# Check and find all the errors in the lines of the code below and correct them.


**Please be careful, there are not only syntactic errors, but also implementation errors. To fix errors associated with implementations, carefully check ** the expected results.**

Some of the code blocks contain more than one error, keep this in mind.
Run each code block, view errors (or the difference with the expected results) and correct them (one after another).


**Pay attention: do not rewrite the code, just correct errors and the codes will work.**

In [ ]:
variable_1 = 10

print(varible_ 1)

### Expected result:
```
10
```

In [ ]:
variable_2 = 20

if variable_2 > 10:
print("{} > 10".format(variable_2))

### Expected result:
```
20 > 10
```

In [ ]:
for i is range(10):
    print("{}".format(i), end=" ")

### Expected result:
```
0 1 2 3 4 5 6 7 8 9 
```

In [ ]:
list_1 = [1,2,3,4,5]

for num in list_1:
    print(num, edn=" ")

### Expected result:
```
0 1 2 3 4 5
```

In [ ]:
list_2 = []

for i in range(5):
    list_2.apend(i)

print(list_2)

### Expected result:
```
[0, 1, 2, 3, 4]
```

In [ ]:
def operations(a,b):
    return {a*b, a + b}

res = operation(10,2)

print(res)

### Expected result:
```
(20, 12)
```

In [ ]:
for i in range(10):
    if i % 2 == 0:
        print("{} is even".format(i, end="\t")

### Expected result:
```
0 is even	2 is even	4 is even	6 is even	8 is even
```

In [ ]:
even = []
odd = []
for i in range(20):
    if i%2:
        even.append(i)
    else:
        odd.append(i)

print("Even numbers: {}.format(even))
print("Odd numbers: {}.format(odd))

### Expected result:
```
Even numbers: [0, 2, 4, 6, 8, 10, 12, 14, 16, 18]
Odd numbers: [1, 3, 5, 7, 9, 11, 13, 15, 17, 19]
```

In [ ]:
people_age = {"Adam":25, "John":30, "Jenny":50}

print(people_age["adam"])

### Expected result:
```
25
```

In [ ]:
pairs = {}

for i in range(10):
    tup1 = [i, i+1]
    pairs[tup1] = "Done"
print(pairs)

### Expected result:
```
{(0, 1): 'Done', (1, 2): 'Done', (2, 3): 'Done', (3, 4): 'Done', (4, 5): 'Done', (5, 6): 'Done', (6, 7): 'Done', (7, 8): 'Done', (8, 9): 'Done', (9, 10): 'Done'}
```

In [ ]:
set1 = set()

set1.add([1,2,3])

print(set1)

### Expected result:
```
{(1, 2, 3)}
```

In [ ]:
num = 0
list_2 = ()
while num < 10:
    num += 1
    list_2.append(num)
print(list_2)

### Expected result:
```
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
```

In [ ]:
class Human:
    def __init_(self):
        print("I am a human object")
h1 = Human()

### Expected result:
```
I am a human object
```

In [ ]:
class Person:
    def _init_(slef, name=None, age=None):
        self.name = name
        self.age = age
    
    def _str_(self):
        return "I am an person, my name is {} and i am {} years old".format(self.name, self.age)

a1 = Person(naem="Bobby",age=23)
print(a1)

### Expected result:
```
I am an person, my name is Bobby and i am 23 years old
```

In [ ]:
class Vehicle:
    def __init__(model=None, year=None):
        self.model = model
        self.year = year
    
    def __str__():
        print("{} was produced in {}".format(model, year))
    
    def start(self):
        print("Start the vehicle {}".format(model))
    
    def stop(slf):
        print("Stop the vehicle {}".format(self.model))

v1 = Vehicle(model = "Audi", year = 1993)
print(v1)
v1.start()
v1.stop()

### Expected result:
```
Audi was produced in 1993
Start the vehicle Audi
Stop the vehicle Audi
```

# Great work !!!